* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.parent {
    opacity: 0;
}

.pompom {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20%;
    left: 28%;
}

.title {
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
    user-select: none;
}

.black {
    width: 1000px;
    height: 669px;
    background-color: black;
    z-index: 20;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7), -5px -5px 20px  rgba(0, 0, 0, 0.9);
}


.container {   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;
    background-image: url(/images/wallpaper.jpg);
    z-index: 2;
    animation:  infinite 20s linear infinite;
}

.apagado {
    opacity: 0;
}

.toggle {
    position: absolute;
    left: 25%;
    top: 70%;
    z-index: 30;
}

.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle .onoff {
    color: #fff;
    font-size: 3em;
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #333;
    transition: .4s;
    width: 150px;
    height: 70px;
    border-radius: 10px;
}

.slider:hover {
    background-color: rgb(24, 24, 24);
}

.slider:before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #fff;
    transition: 0.4s;
    top: 5px;
    left: 10px;
    border-radius: 100%;
}

input:checked + .slider {
    background-color: rgb(235, 127, 145);
    box-shadow: 0 0 12px rgb(247, 120, 141);
}

input:checked + .slider:hover {
    background-color: rgb(226, 55, 84);
    box-shadow: 0 0 12px rgb(243, 66, 96);
}

input:checked + .slider:before {
    transform: translateX(70px);
}

.cinna {
    position: absolute;
    top: 10px;
    width: 300px;
    right: -10%;
    animation: cinna 10s linear infinite;
}

.keroppi {
    width: 300px;
    position: absolute;
    top: 69%;
    left: 53%;
}

.kuromi {
    position: absolute;
    top: 65%;
    left: 35%;
    width: 180px;
}

.melody {
    position: absolute;
    top: 67%;
    width: 185px;
    left: 65%;
}

.hello {
    position: absolute;
    top: 60%;
    left: 44%;
    transform: translate(-50%, -50%);
    width: 250px;
}


.hello {
    animation: rotating 2s linear infinite;
}

@keyframes infinite {
    0% {
        background-position: 100%;
    }

    50% {
        background-position: 50%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(5deg);
    }


    100%  {
        transform: rotate(0);
    }
}

@keyframes cinna {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-900%)
    }
}
